* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

body{
  background: url(./img/earth-1617121_1920.jpg) fixed no-repeat;
}

input{
  padding: 0.4em;
  color: black;
}

main {
  max-width: 80%;
  margin: 0 auto;
}
.countriesList {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn {
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  background-color: lightsteelblue;
  color: black;
  justify-content: center;
  padding: 1%;
  font-weight: 700;
}

span{
  color: white;
}

.retour{
text-align: center;
margin-top: 5em;
}
